{% extends 'admin.html.twig' %}
{% block header %}Types of Flooring  {% endblock %}
{% block subheader %}Types of Flooring List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('typeofflooring_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Type of Flooring</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for typeOfFlooring in typeOfFloorings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ typeOfFlooring.flooringTypeName }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('typeofflooring_show', { 'id': typeOfFlooring.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('typeofflooring_edit', { 'id': typeOfFlooring.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}