{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeOfFlooring</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeOfFlooring.id }}</td>
            </tr>
            <tr>
                <th>Flooringtypename</th>
                <td>{{ typeOfFlooring.flooringTypeName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeofflooring_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeofflooring_edit', { 'id': typeOfFlooring.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
