{% extends 'admin.html.twig' %}
{% block header %} Overlooking Facilities {% endblock %}
{% block subheader %} Overlooking Facilities List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('overlooking_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Type of Overlooking Facility</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for overlooking in overlookings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ overlooking.overLookingType }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('overlooking_show', { 'id': overlooking.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('overlooking_edit', { 'id': overlooking.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}