{% extends 'admin.html.twig' %}
{% block header %} Property Facing{% endblock %}
{% block subheader %} Property Facing Details {% endblock %}
{% block content %}




    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propertyFacing.id }}</td>
            </tr>
            <tr>
                <th>Facingtype</th>
                <td>{{ propertyFacing.facingType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propertyfacing_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('propertyfacing_edit', { 'id': propertyFacing.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
