{% extends 'base.html.twig' %}

{% block body %}
    <h1>FloorPlans</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ floorPlan.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ floorPlan.title }}</td>
            </tr>
            <tr>
                <th>Imagefilepath</th>
                <td>{{ floorPlan.imageFilePath }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('floorplans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('floorplans_edit', { 'id': floorPlan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
