{% extends 'admin.html.twig' %}

{% block header %}Frequently Asked Questions{% endblock %}
{% block subheader %}Add FAQ{% endblock %}

{% block content %}
<div class="panel-body">
    <div class="form-horizontal">

        {{ form_start(form) }}
        <div class="form-group">
            <div class="col-md-2">Add Question</div>
            <div class="col-md-6">
                {{ form_widget(form.question, {'attr':{'class':'form-control', 'rows':'3'}}) }}
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-2">Add Answer</div>
            <div class="col-md-6">
                {{ form_widget(form.answer, {'attr':{'class':'form-control', 'rows':'3'}}) }}
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-2">Add FAQ Category</div>
            <div class="col-md-6">
                {{ form_widget(form.faqcategory, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Save" class="btn btn-success"/>
                <a href="{{ path('faq_index') }}" class="btn btn-primary">Back</a>
            </div>
        </div>
        {% do form.postedOn.setRendered %}
        {{ form_end(form) }}
    </div>
    {% endblock %}
