{% extends 'admin.html.twig' %}
{% block header %} Reserved Parking Facilities {% endblock %}
{% block subheader %} Reserved Parking Facilities  Details {% endblock %}
{% block content %}
    <h1>ReservedParking</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservedParking.id }}</td>
            </tr>
            <tr>
                <th>Reservedparkingtype</th>
                <td>{{ reservedParking.reservedParkingType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservedparking_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservedparking_edit', { 'id': reservedParking.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
