{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

<div class="row">
    <div class="col-sm-6">
        <input class="tran3s" type="submit"
                value="{{ 'registration.submit'|trans }}">
    </div>
    <div class="col-sm-6"><a class="tran3s" href="{{ path('fos_user_security_login') }}"
        >Already Registered</a>
    </div>
</div>
{{ form_end(form) }}
