{% extends 'admin.html.twig' %}
{% block header %} Availability {% endblock %}
{% block subheader %} Edit Availability{% endblock %}
{% block content %}

    <div class="panel-body">
        <div class="form-horizontal">
            {{ form_start(edit_form) }}
            <div class="form-group">
                <div class="col-md-3">Edit Availability Type</div>
                <div class="col-md-6">
                    {{ form_widget(edit_form.availabilityType) }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-2">
                    <input class="btn btn-success" type="submit" value="Edit"/>
                    <a class="btn btn-primary" href="{{ path('availability_index') }}">Back</a>
                </div>
            </div>
            {{ form_end(edit_form) }}

            <div class="form-group">
                <div class="col-md-1 pull-right">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
