{% extends 'base.html.twig' %}

{% block body %}
    <h1>Availability</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ availability.id }}</td>
            </tr>
            <tr>
                <th>Availabilitytype</th>
                <td>{{ availability.availabilityType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('availability_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('availability_edit', { 'id': availability.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
