{% extends 'admin.html.twig' %}
{% block header %} Property Possesion On {% endblock %}
{% block subheader %} Property Possesion List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('proppossesion_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Property Possession On</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for propPossesion in propPossesions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ propPossesion.propPossesionOn }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('proppossesion_show', { 'id': propPossesion.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('proppossesion_edit', { 'id': propPossesion.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}