{% extends 'admin.html.twig' %}
{% block header %} Property Possesion On {% endblock %}
{% block subheader %} Property Possesion Details {% endblock %}
{% block content %}


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propPossesion.id }}</td>
            </tr>
            <tr>
                <th>Proppossesionon</th>
                <td>{{ propPossesion.propPossesionOn }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proppossesion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('proppossesion_edit', { 'id': propPossesion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
