{% extends 'admin.html.twig' %}
{% block header %} Power Backup Facilities{% endblock %}
{% block subheader %} Edit Power Backup Facility{% endblock %}
{% block content %}
    <h1>PowerBackup edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('powerbackup_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
