{% extends 'admin.html.twig' %}
{% block header %} Power Backup Facilities{% endblock %}
{% block subheader %} Power Backup Facilities List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('powerbackup_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Power backup Facility Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for powerBackup in powerBackups %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ powerBackup.powerBackupName }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('powerbackup_show', { 'id': powerBackup.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('powerbackup_edit', { 'id': powerBackup.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}