{% extends 'admin.html.twig' %}
{% block header %} Power Backup Facilities{% endblock %}
{% block subheader %} Power Backup Facility Details{% endblock %}
{% block content %}


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ powerBackup.id }}</td>
            </tr>
            <tr>
                <th>Powerbackupname</th>
                <td>{{ powerBackup.powerBackupName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('powerbackup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('powerbackup_edit', { 'id': powerBackup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
