{% extends 'base.html.twig' %}

{% block body %}
    <h1>furnished list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Furnishedtypename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for furnished in furnisheds %}
            <tr>
                <td><a href="{{ path('furnished_show', { 'id': furnished.id }) }}">{{ furnished.id }}</a></td>
                <td>{{ furnished.furnishedTypeName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('furnished_show', { 'id': furnished.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('furnished_edit', { 'id': furnished.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('furnished_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
