{% extends 'admin.html.twig' %}
{% block header %} Furnished Info {% endblock %}
{% block subheader %} Furnished Info List{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('furnished_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Furnishing Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for furnished in furnisheds %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ furnished.furnishedTypeName }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('furnished_show', { 'id': furnished.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('furnished_edit', { 'id': furnished.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}