{% extends 'admin.html.twig' %}
{% block header %} Furnished Info {% endblock %}
{% block subheader %} Show Furnished Info Details{% endblock %}
{% block content %}


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ furnished.id }}</td>
            </tr>
            <tr>
                <th>Furnishedtypename</th>
                <td>{{ furnished.furnishedTypeName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('furnished_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('furnished_edit', { 'id': furnished.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
