{% extends 'admin.html.twig' %}
{% block header %} Property Type{% endblock %}
{% block subheader %} Property Type Details{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('propertycate_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="panel-body">
        <div class="row">
            <label for="image" class="col-md-2">Property Type</label>
            <div class="col-md-10">
                {{ propertyCate.propCateName }}
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="{{ path('propertycate_index') }}" class="btn btn-primary">Back</a>
                    <a href="{{ path('propertycate_edit', { 'id': propertyCate.id }) }}" class="btn btn-info">Edit</a>
                </div>
                <div class="col-md-1 pull-right">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
