{% extends 'admin.html.twig' %}

{% block header %}Home Sliders{% endblock %}
{% block subheader %}New Homepage Image slider{% endblock %}

{% block content %}
    <div class="panel-body">
        {{ form_start(edit_form) }}
        <div class="form-horizontal">
            <div class="form-group">
                <label for="file" class="col-md-3">Edit Image (jpg/jpeg/png)</label>
                <div class="col-md-6">
                    <img src="{{ asset('uploads/sliders/' ~ slider.file) }}"/>
                    {{ form_widget(edit_form.file) }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a href="{{ path('slider_index') }}" class="btn btn-primary">Back</a>
                </div>
                <div class="col-md-1 pull-right">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                    {{ form_end(delete_form) }}
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
