<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block pagetitle %}Blog{% endblock %}</title>


    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('RealEstateTheme/css/custom/style.css') }}">
    <!-- Color css -->
    <link rel="stylesheet" id="jssDefault" href="{{ asset('RealEstateTheme/css/custom/theme-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('RealEstateTheme/css/responsive/responsive.css') }}">

    <!-- Fixing Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ asset('RealEstateTheme/js/html5shiv.js') }}"></script>
    <![endif]-->
</head>
<body>
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

<!-- Js File_________________________________ -->

<!-- j Query -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jquery-2.1.4.js') }}"></script>

<!-- Bootstrap JS -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/bootstrap.min.js') }}"></script>

<!-- Vendor js _________ -->
<!-- Style-switcher  -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jQuery.style.switcher.min.js') }}"></script>

<!-- Google map js -->
<script src="http://maps.google.com/maps/api/js"></script> <!-- Gmap Helper -->
<script src="{{ asset('RealEstateTheme/js/gmap.js') }}"></script>


<!-- Tooltip -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jquery.tooltipster.min.js') }}"></script>

<!-- ui js -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jquery-ui.min.js') }}"></script>

<!-- Fancybox js -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jquery.fancybox.pack.js') }}"></script>

<!-- owl.carousel -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/owl.carousel.min.js') }}"></script>

<!-- Language Switcher -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/jquery.polyglot.language.switcher.js') }}"></script>

<!-- revolution -->
<script src="{{ asset('RealEstateTheme/js/revolution/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('RealEstateTheme/js/revolution/jquery.themepunch.revolution.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('RealEstateTheme/js/revolution/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('RealEstateTheme/js/revolution/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('RealEstateTheme/js/revolution/revolution.extension.navigation.min.js') }}"></script>

<!-- Main js -->
<script type="text/javascript" src="{{ asset('RealEstateTheme/js/main.js') }}"></script>

</body>
</html>
