{% extends 'admin.html.twig' %}
{% block header %} Ownership{% endblock %}
{% block subheader %} Ownership List{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('ownership_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Type of Ownership</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ownership in ownerships %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ownership.ownershipType }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('ownership_show', { 'id': ownership.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('ownership_edit', { 'id': ownership.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}