{% extends 'admin.html.twig' %}

{% block header %}Blog Posts{% endblock %}
{% block subheader %}Blog Posts List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('slider_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No</th>
                <th>Title</th>

                <th>Posted On</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.postedOn | date('d/m/Y') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
