{% extends 'admin.html.twig' %}
{% block header %} Property on Floor {% endblock %}
{% block subheader %} Property Floor List{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('propertyonfloor_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Property Floor</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for propertyOnFloor in propertyOnFloors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ propertyOnFloor.propFloor }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('propertyonfloor_show', { 'id': propertyOnFloor.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('propertyonfloor_edit', { 'id': propertyOnFloor.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}