{% extends 'admin.html.twig' %}
{% block header %} Age of Property {% endblock %}
{% block subheader %} Property Age Lists{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('ageofproperty_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Age of Property</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ageOfProperty in ageOfProperties %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ageOfProperty.propAge }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('ageofproperty_show', { 'id': ageOfProperty.id }) }}">show</a>

                        <a class="btn btn-primary" href="{{ path('ageofproperty_edit', { 'id': ageOfProperty.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}