{% extends 'admin.html.twig' %}
{% block header %} Age of Property {% endblock %}
{% block subheader %} Property Age Details{% endblock %}
{% block content %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ageOfProperty.id }}</td>
            </tr>
            <tr>
                <th>Propage</th>
                <td>{{ ageOfProperty.propAge }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ageofproperty_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ageofproperty_edit', { 'id': ageOfProperty.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
