{% extends 'admin.html.twig' %}
{% block header %} Property Features and Amenities{% endblock %}
{% block subheader %} Property Features and Amenities List{% endblock %}
{% block content %}


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Featureamenname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propFeatureAman in propFeatureAmens %}
            <tr>
                <td><a href="{{ path('propfeatureamen_show', { 'id': propFeatureAman.id }) }}">{{ propFeatureAman.id }}</a></td>
                <td>{{ propFeatureAman.featureAmenName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('propfeatureamen_show', { 'id': propFeatureAman.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('propfeatureamen_edit', { 'id': propFeatureAman.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propfeatureamen_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
