{% extends 'admin.html.twig' %}
{% block header %} Property Features and Amenities {% endblock %}
{% block subheader %} Property Features and Amenities Details {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('propfeatureamen_new') }}" class="btn btn-success">Add New</a>
        </div>
    </div>
    <br/>

    <div class="panel-body">
        <div class="row form-group">
            <label for="title" class="col-md-2">Property Features and Amenities</label>
            <div class="col-md-10">
                {{ propFeatureAman.featureAmenName }}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <a class="btn btn-primary" href="{{ path('propfeatureamen_index') }}">Back</a>
                    <a class="btn btn-info" href="{{ path('propfeatureamen_edit', { 'id': propFeatureAman.id }) }}">Edit</a>
                </div>
                <div class="col-md-1 pull-right">

                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}