{% extends 'PostProperty.html.twig' %}

{% block body %}

    <h1>PostProperty creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <ul class="floorplans" data-prototype="{{ form_row(form.floorPlans) }}">
            </ul>

            <ul class="propertyspecification" data-prototype="{{ form_row(form.propertySpecification) }}">
            </ul>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('postproperty_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
