{% extends 'PostProperty.html.twig' %}
{% block PostPropertyBlock %}

    <div class="register_page container">

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 register_form">
                <!-- Main_title__________ -->

                <!-- Register form -->
                <div class="register">
                    <h6>Post Your Property Now</h6>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <ul class="floorplans" data-prototype="{{ form_row(form.floorPlans) }}">
                    </ul>

                    <ul class="propertyspecification" data-prototype="{{ form_row(form.propertySpecification) }}">
                    </ul>

                    <ul class="propertyimage" data-prototype="{{ form_row(form.propertyImage) }}">
                    </ul>
                    <input class="btn btn-info" type="submit" value="Create"/>
                    {{ form_end(form) }}

                    {#<ul>
                        <li>
                            <a href="{{ path('postproperty_index') }}">Back to the list</a>
                        </li>
                    </ul>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
